// ============================================
// BUSCAR - Página específica
// Local: assets/scss/pages/_buscar.scss
// ============================================

@use '../abstracts/variables' as var;

// Container de busca
#buscaContainer {
    padding: 0 var.$spacing-xl var.$spacing-xl var.$spacing-xl;
}