// ============================================
// DADOS DOS CILINDROS - Página específica
// Local: assets/scss/pages/_dados-cilindros.scss
// ============================================

@use '../abstracts/variables' as var;

// Container dos cilindros
#cilindrosContainer {
    padding: 0 var.$spacing-xl var.$spacing-xl var.$spacing-xl;
}