// ============================================
// DASHBOARD - Página específica
// Local: assets/scss/pages/_dashboard.scss
// ============================================

@use '../abstracts/variables' as var;

// Container do dashboard
#dashboardContainer {
    padding: 0 var.$spacing-xl var.$spacing-xl var.$spacing-xl;
}