// ============================================
// FORNECEDOR - Página específica
// Local: assets/scss/pages/_fornecedor.scss
// ============================================

@use '../abstracts/variables' as var;

// Container dos fornecedores
#fornecedoresContainer {
    padding: 0 var.$spacing-xl var.$spacing-xl var.$spacing-xl;
}