// ============================================
// NOTA DE EMPRÉSTIMO - Página específica
// Local: assets/scss/pages/_nota-emprestimo.scss
// ============================================

@use '../abstracts/variables' as var;

// Container das notas de empréstimo
#emprestimosContainer {
    padding: 0 var.$spacing-xl var.$spacing-xl var.$spacing-xl;
}