// ============================================
// NOTA DE ENTREGA - Página específica
// Local: assets/scss/pages/_nota-entrega.scss
// ============================================

@use '../abstracts/variables' as var;

// Container das notas de entrega
#entregasContainer {
    padding: 0 var.$spacing-xl var.$spacing-xl var.$spacing-xl;
}